/* TODO add feed styles */

.feed {
  margin: 100px;
  margin-top: 50px;
  padding: 10px;
  min-height: 1000px;
  min-width: 1500px;
  overflow: hidden;
  border: 2px solid black;
  border-radius: 1rem;
  background-image: url("../Images/GoT.jpg");
  background-size: cover;
  background-position: center;
  transition: 0.4 ease;
  /* display: grid;
  grid-template-columns: auto; */
}

@media screen and (min-width: 993px) and (max-width: 1600px) {
  .feed{
    min-height: 900px;
    min-width: 1000px;  
    background-position: center;
    background-size:cover;
  }
}
