/* TODO add feed styles */

.feed {
  margin: 100px;
  margin-top: -60px;
  margin-right: 0px;
  padding: 10px;
  float: right;
  min-height: 1000px;
  min-width: 1500px;
  overflow: hidden;
  border: none;
  border-radius: 1rem;
  background-image: url("../Images/GoT.jpg");
  background-size: cover;
  background-position: center;
  transition: 0.4 ease;
}
