/* TODO add feed styles */

.feed {
  margin: 100px;
  margin-top: 90px;
  /* margin-right:10px; */
  padding: 10px;
  min-height: 1000px;
  min-width: 1500px;
  overflow: hidden;
  border: 2px solid black;
  border-radius: 1rem;
  background-image: url("../Images/books.png");
  background-size: contain;
  background-position: cover;
  transition: 0.4 ease;
}

.card-list {
  margin: 0.2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  grid-gap: 1rem;
}

@media screen and (min-width: 993px) and (max-width: 1600px) {
  .feed {
    min-height: 900px;
    min-width: 1000px;
    /* background-position: center;
    background-size:cover; */
  }
}
