/* TODO add some general header styles */

.header {
    margin: 12px;
    padding-bottom: 10px;
    text-align: center;
}
.search-bar{
    text-align: right ;
    margin:-10px;
    
}
.button{
    text-align: left;
}